# This configuration file is just to make it easier to load all of the policies
# that the notebooks will use for policy analysis. It shoudl have 2 sections -
# Policy and BasePolicy. Each section should have binary and source.
#
# Policy is for the system policy that is being analyzed. BasePolicy is for th
# policy that was the starting point for the system policy.
#
# This example has a Fedora 25 policy as the system policy and a Fedora 24 policy
# for the base policy.
[Policy]
binary=examples/fedora-25-policy.30
source=examples/serefpolicy-fedora-25
[BasePolicy]
binary=examples/fedora-24-policy.30
source=examples/serefpolicy-fedora-24
